@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

h1{
  color: aliceblue;
  text-align: center;
  font-size: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}